html {
  background-size: cover;
  background-attachment: fixed;
}
body{
  overflow-x:hidden;
  background-color: transparent;
}

/*Hero
___________________________*/

.hero.wrapper {
  width: 70vw;
  margin: 5vh auto 8vh auto;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.logo-heading { 
  position: relative;
  z-index: 3;
  width: 70vw;
}

/*Splash
___________________________*/

.text-box {
  padding: 30px;
  width: 100%;
  z-index: 3;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.8);
  color: white;
  border-radius: 10px;
  text-align: center;
}
@media (min-width: 750px) {
  .text-box {
    width: 60vw;
  }
}
.text-box h1 {
  font-size: 30px;
  margin-bottom: 40px;
  color: rgb(166,166,166);
}
.text-box h2 {
  font-size: 40px;
  color: white;
}
.text-box h3 {
  font-size: 20px;
  color: rgb(166,12,12);
  margin-bottom: 5px;
  text-transform: uppercase;
}
.text-box p {
  margin-bottom: 10px;
}
.events{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
    justify-content: center;
  -webkit-flex-wrap: wrap;
    flex-wrap: wrap;  
}
.event-box {
  margin: 20px;
  border: 1px solid rgb(166,166,166);
  border-radius: 10px;
  padding: 10px;
  width: 250px;  
}
.event-box button {
  padding: 1rem;
  background-color: rgb(33,33,33);
  color: white;
  border-style: none;
  line-height: 0;
  height: 16px;
  border-radius: 0px;
  font-size: 16px;
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  text-align: center;
  width: 117px;  
}
.event-box button:focus {
  background-color: rgb(166,12,12);
  box-shadow: 0px 0px 3px 0px grey;
  text-shadow: 1px 1px 1px black;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;  
}
.event-box button:active {
  background-color: rgb(166,12,12);
  box-shadow: 0px 0px 5px 1px grey;
}
a, a:hover, a:focus, a:active {
  color: white;
  text-decoration: initial;
  padding: 1rem;
  right: 1rem;
  position: relative;
}
.text-box a {
  display: inline-block;
}
.contact {
  bottom: 20px;
  z-index: 10;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
    justify-content: center;
  -webkit-align-items: center;
    align-items: center;  
  margin-top: 20px;
  margin-left: 10px;
}
a.icon {
  position: relative;
  display: inline-block;   
  z-index: 100;
  height: 5.3vh;
  width: 5.3vh;
  padding: 0;
  margin: 2.35vh 1vh 2.35vh 1vh;
  background-size: contain;
  background-repeat: no-repeat;
  border-style: hidden;
  border-radius: 50%;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease; 
  box-sizing: initial; 
}  
a.icon.facebook {
  background-image: url('../images/facebook-icon-w.png');
}
a.icon.mail {
  background-image: url('../images/mail.png');
}
a.icon:hover {
  margin: 1.35vh 0vh 1.35vh 0vh;
  padding: 1vh;
  border-style: hidden;
  border-radius: 50%;
  box-sizing: initial;
}
a.icon.facebook:hover {
  background-image: url('../images/facebook-icon-bw.png');
}
a.icon.mail:hover {
  background-image: url('../images/mail-hover.png');
}
