html {
  background-image: url('../images/middle-earth-map.jpg');
  background-size: 100%;
}

body{
    overflow-x:hidden;
}

/*Hero
___________________________*/

.carousel.wrapper {   
  width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.carousel {    
  width: 100vw;    
  overflow: hidden;
}

.hero.wrapper {
  position: absolute;  
  transform: translateY(-200%);
  width: 100vw;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.logo-heading {  
  width: 80vw;  
  margin-left: 6vw;
  margin-right: auto;
  z-index: 3;
}

.arrow.wrapper {
  width: 100%;
  position: absolute;      
  transform: translateY(-150%);
  display: -webkit-flex;
  display: flex;
  z-index: 0; 
}

.arrow { 
  margin: 0 auto;      
  width: 8vw;
  height: 8vw;
  z-index: -1;
}

/*Navbar
___________________________*/

.navbar.wrapper {
  position: fixed;
  top: 0;  
  width: 100%;
  margin: 0;
  padding: 0;  
}

.row.navbar {
  position: fixed;  
  top: 0;
  z-index: 100;
  width:100%;
  height:10vh;
  margin: 0;
  padding: 0;  
  color: white;  
  background-color: rgba(0,0,0,0.8);  
}

#nzhllogo {   
  width: 8vh;
  height: 8vh;
  margin: 1vh;
  background: url('../images/nzhl-logo-white-nb.png');
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
}

.navbar ul {  
  margin: 0;
  height: 10vh;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 100;  
}

.navbar li {
  margin: 0;
  width: 13.33%;
  text-align: center;  
  text-transform: uppercase; 
  list-style-type: none;
  font-size: 2vh;
  z-index: 100;
}

.navbar a {
  padding: 2vh 2vw;
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  padding: 2vh 2vw;
  text-decoration: none;  
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
}

.navbar a:active {
  padding: 2vh 2vw;
  text-decoration: none;  
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;  
}

.navbar.landed {
  padding: 2vh 2vw;
  text-decoration: none;  
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
}

/*Main
___________________________*/

.container.main {
  margin-top: 3rem;
  z-index: -1;
}

.content {  
  padding: 2rem;
  z-index: -1;
}